In [1]:
%load_ext autoreload

%autoreload 2 
from datetime import timedelta
import pandas as pd
import numpy as np
from data import CleanedData
import sklearn
from sklearn import preprocessing

In [17]:
data = CleanedData(loc='./data/joined.csv', test_ratio=0.2, impute_data=True, convert_non_numerical=True, normalize_data=True, drop_columns=['source', 'Last_Update','province','country','latitude', 'longitude'])

/opt/miniconda3/envs/cmpt353/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [29]:
X_train, y_train = data.training_data

In [30]:
X_train

,age,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incidence_Rate,Case-Fatality_Ratio,confirmed_day,in_contact,transformed_Combined_Key,transformed_sex
243783,58.000000,-11.766533,-76.604498,12.763306,9.547455,0.000000,12.722357,8.097181,4.012120,144.0,0.0,238.0,0.0
267761,42.306147,22.694884,71.590923,11.698043,8.097426,11.522618,9.685083,5.238571,2.730687,109.0,0.0,169.0,0.0
508092,0.000000,-11.005234,-76.157591,13.536341,10.350830,0.000000,13.494105,7.748647,4.135709,154.0,0.0,352.0,1.0
430739,40.675965,19.449759,76.108221,13.970372,10.366939,13.634507,12.615772,6.854431,2.723007,122.0,0.0,252.0,2.0
419407,41.845196,15.912900,79.740000,13.320489,8.564840,13.161374,11.343595,7.030711,0.860295,137.0,0.0,16.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190926,9.500000,52.636700,9.845100,9.840281,6.505784,9.710024,7.392648,5.460451,3.563249,87.0,0.0,310.0,1.0
552843,29.000000,12.879721,121.774017,12.554826,8.503094,12.254315,11.136704,5.555576,1.739222,107.0,0.0,353.0,0.0
403245,41.294871,19.449759,76.108221,13.970372,10.366939,13.634507,12.615772,6.854431,2.723007,112.0,0.0,252.0,2.0
245065,29.000000,14.705180,76.166436,13.128310,8.962904,12.884172,11.524340,6.612669,1.552342,142.0,0.0,217.0,0.0
1543,43.795903,28.646519,77.108980,12.383499,8.498418,12.214393,10.381273,7.151806,2.054617,98.0,0.0,116.0,2.0

In [31]:
y_train

243783    2.0
267761    1.0
508092    2.0
430739    1.0
419407    3.0
         ...
190926    2.0
552843    3.0
403245    1.0
245065    1.0
1543      1.0
Name: outcome, Length: 445879, dtype: float64

In [32]:
X_test, y_test = data.test_data

In [33]:
X_test

,age,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incidence_Rate,Case-Fatality_Ratio,confirmed_day,in_contact,transformed_Combined_Key,transformed_sex
4507,36.000000,11.006091,78.400624,13.182344,9.069353,13.072578,10.747337,6.525087,1.635877,144.0,0.0,439.0,1.0
378318,44.414809,28.646519,77.108980,12.383499,8.498418,12.214393,10.381273,7.151806,2.054617,88.0,0.0,116.0,2.0
358898,42.780203,19.449759,76.108221,13.970372,10.366939,13.634507,12.615772,6.854431,2.723007,135.0,0.0,252.0,2.0
378076,52.000000,-11.766533,-76.604498,12.763306,9.547455,0.000000,12.722357,8.097181,4.012120,96.0,0.0,238.0,0.0
288173,43.399998,22.694884,71.590923,11.698043,8.097426,11.522618,9.685083,5.238571,2.730687,125.0,0.0,169.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
456677,44.000000,12.879721,121.774017,12.554826,8.503094,12.254315,11.136704,5.555576,1.739222,141.0,0.0,353.0,1.0
81595,41.889089,26.357149,92.830441,11.937265,6.291569,11.725509,10.262245,6.062136,0.353269,141.0,0.0,32.0,2.0
458818,40.082348,7.946500,-1.023200,10.733719,5.693732,10.716216,6.212606,4.994797,0.647383,86.0,0.0,151.0,2.0
530316,45.000000,-38.416100,-63.616700,13.342196,9.457122,13.077527,11.790996,7.228607,2.054632,155.0,0.0,26.0,1.0
209764,80.000000,51.433200,7.661600,11.077393,7.519692,10.977192,8.371936,5.888185,2.850430,119.0,0.0,317.0,0.0

In [34]:
y_test

4507      1.0
378318    1.0
358898    3.0
378076    2.0
288173    3.0
         ...
456677    2.0
81595     3.0
458818    1.0
530316    2.0
209764    2.0
Name: outcome, Length: 111470, dtype: float64

In [44]:
data.decode_outcome(y_test)

/opt/miniconda3/envs/cmpt353/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

4507         hospitalized
378318       hospitalized
358898          recovered
378076    nonhospitalized
288173          recovered
               ...
456677    nonhospitalized
81595           recovered
458818       hospitalized
530316    nonhospitalized
209764    nonhospitalized
Name: outcome, Length: 111470, dtype: object